
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>ChangePass</h2>
<br />
@Model
<form action="ChangePass" method="post">
    <label>New Password</label>
    <input type="password" name="Newpass" />
    <label>Confirm New Password</label>
    <input type="password" name="Oldpass" />
    <input
</form>

