
@{
    ViewBag.Title = "Forget Password";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/assets/css/Login.css" />
@Model
<body>
    <div class="main">
        <form method="post" action="VerifyLoginID">
            <label>Change Password</label>
            <input type="Text" name="LoginID" placeholder="User ID" />
            <button type="submit" value="Submit" style="background: #ffffff; color: #1d2431">Submit</button>
        </form>
    </div>
</body>


