<html>
<head>
    <title>
        Login
    </title>
</head>
<body>
    <div class="container m-5">
        <h1>Login</h1>
    <form>
        <label>Username</label>
        <input type="text" name="Username" /><br />
        <label>Password</label>
        <input type="password" name="password" /><br />
        <input type="submit" value="Log in" />
    </form>
    </div>
</body>
</html>