@{ 
    Layout = null;
}
<html>
<head>
    <script type="text/javascript" language="javascript">
     function DisableBackButton() {
       window.history.forward()
      }
     DisableBackButton();
     window.onload = DisableBackButton;
     window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
     window.onunload = function() { void (0) }
    </script>
    <link rel="stylesheet" href="~/Content/assets/css/Login.css" />
    <title>
        Login
    </title>
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="Logo">
        
            <form>
                <label for="chk" aria-hidden="true">InfraCare</label>
                <img src="~/Content/assets/img/Logo.jpeg" />
            </form>
        </div>
        <div class="login">
            
            <form action="Login" method="post">
                <label for="chk" aria-hidden="true">Login</label>
               
                <input type="text" placeholder="User ID" name="LoginID" required>
                <input type="password" placeholder="Password" name="Password" required>
                <a href="@Url.Action("ForgetPass","Home")">Forget Password?</a>
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
<!--<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            
            <form action="Login" method="post">
                <h1>Sign In</h1>
                <input type="text" placeholder="Email" name="LoginID">
                <input type="password" placeholder="Password" name="Password">-->
                @* <a href="">Forget your Password?</a>*@
                <!--@Html.ActionLink("Forget Password", "ForgetPass", "Home", new { area = "" }, new { @class = "" })
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your Personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your Personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/Login.js"></script>
</body>-->
</html>