
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="#">
    Name:<input type="text" name="Username" />
    <br />
    Password:<input type="password" name="Password" />
    <br />
    <button type="submit">Login</button>
</form>
@{ 
    
}

