
@{
    ViewBag.Title = "VerifyOtp";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/assets/css/Login.css" />

<body>
    <div class="main">
        @Model
        <form method="post" action="VerifyOtp">
            <label>Enter Your Otp</label>
            <input type="text" name="otps" />
            <input type="submit" value="submit" />
        </form>
    </div>
</body>

